In [1]:
import pandas as pd 
import numpy as np

In [3]:
#!pip install pandas numpy openpyxl

In [4]:
!pwd

/Users/awf/Projects/python/streamlit/traitement_sae

In [5]:
#filename = 'C:/Users/albert-marc.talla/Desktop/test/Taux de régularité DSP - 18092024131617.xlsx'

In [2]:
#!pip install openpyxl
#!pip install openpyxl

In [3]:
#filename = "./mobirecord_declarations_export.xlsx"
filename = "./Taux de régularité DSP - 18092024131617.xlsx"
df = pd.read_excel(filename)

In [4]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Rapport,Taux de régularité DSP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date d'édition,18/09/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Début,26/08/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fin,22/09/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Transporteurs,DSP19 - SENART,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Granularité,Semaine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Regroupement des avances/retards par seuils (e...,"inférieur ou égale à -1 min, -1 à 5 min, 5 à 1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Semaine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#filename = 'C:/Users/albert-marc.talla/Desktop/test/Taux de régularité DSP - 18092024131617.xlsx'

df1 = pd.read_excel(filename, header=11)

In [12]:
df1.head(15)

,Transporteur,Semaine 2024 35,Unnamed: 2,Unnamed: 3,Unnamed: 4,Semaine 2024 36,Unnamed: 6,Unnamed: 7,Unnamed: 8,Semaine 2024 37,...,Unnamed: 11,Unnamed: 12,Semaine 2024 38,Unnamed: 14,Unnamed: 15,Unnamed: 16,Totaux,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Ligne,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Tx conformite,...,Tx SI retard,Tx SI,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Tx conformite,Tx SI avance,Tx SI retard,Tx SI
1,DSP19 - SENART,0.931777,0.013608,0.0058,0.019408,0.921553,0.013807,0.008999,0.022806,0.920352,...,0.007891,0.025049,0.930056,0.016524,0.00765,0.024174,0.924892,0.015167,0.007641,0.022808
2,TZN1,0.926288,0.015576,0.002528,0.018104,0.920407,0.017316,0.005316,0.022632,0.923497,...,0.002187,0.022066,0.943673,0.019833,0.000793,0.020627,0.925623,0.017856,0.003004,0.02086
3,01,NaN,NaN,NaN,NaN,0.766323,0.041237,0.013746,0.054983,0.7022,...,0.032149,0.138748,0.693182,0.022727,0.007576,0.030303,0.719428,0.076923,0.023669,0.100592
4,02,0.947664,0.015888,0,0.015888,0.947853,0.011247,0,0.011247,0.944906,...,0,0.009356,0.984085,0.007958,0,0.007958,0.950989,0.01181,0,0.01181
5,03,0.980887,0.009939,0.000765,0.010703,0.958935,0.013538,0.002708,0.016245,0.972314,...,0.001653,0.008264,0.979339,0.012397,0,0.012397,0.972263,0.010219,0.00146,0.011679
6,04,0.952328,0.008869,0.00388,0.012749,0.966596,0.005626,0.006329,0.011955,0.908163,...,0.010771,0.018707,0.929952,0.008052,0.003221,0.011272,0.939583,0.007664,0.006594,0.014258
7,05,NaN,NaN,NaN,NaN,0.864706,0.035294,0.011765,0.047059,0.808772,...,0.014035,0.038596,0.852459,0.065574,0,0.065574,0.832364,0.032946,0.011628,0.044574
8,11,0.959989,0.008165,0.001633,0.009799,0.92909,0.006189,0.001076,0.007266,0.937835,...,0.002412,0.007503,0.933457,0.004929,0,0.004929,0.941114,0.006277,0.001491,0.007768
9,12,0.966903,0.013855,0.004002,0.017857,0.94683,0.007402,0.002961,0.010363,0.944635,...,0.005156,0.017923,0.93668,0.005249,0.002625,0.007874,0.949992,0.010467,0.003877,0.014343
10,13,0.979186,0.008326,0.000308,0.008634,0.957199,0.006283,0.002618,0.008901,0.963183,...,0.003695,0.010293,0.967359,0.002967,0.000742,0.003709,0.966025,0.006557,0.002131,0.008689
11,21,0.925339,0.011312,0.004309,0.015622,0.914074,0.01804,0.011028,0.029068,0.935439,...,0.004343,0.027209,0.95093,0.02438,0.002273,0.026653,0.928123,0.018965,0.006251,0.025216
12,22,0.912613,0.009079,0.012322,0.021401,0.888039,0.009637,0.036281,0.045918,0.901031,...,0.024145,0.035211,0.891074,0.011011,0.023987,0.034998,0.898332,0.010205,0.024598,0.034803
13,23,0.898671,0.036545,0.016196,0.052741,0.925981,0.023551,0.015701,0.039252,0.931128,...,0.013423,0.043464,0.952429,0.020648,0.004049,0.024696,0.927448,0.02771,0.012451,0.040161
14,24,0.9416,0.007964,0.003792,0.011756,0.915035,0.014935,0.019914,0.034849,0.901961,...,0.031976,0.042534,0.945255,0.008029,0.007299,0.015328,0.921626,0.010837,0.017997,0.028834

In [6]:
df1.columns

Index(['Transporteur', 'Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Totaux', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [7]:
df1_S1=df1[['Transporteur', 'Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4']]

df1_S2=df1[['Semaine 2024 36','Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8']]

df1_S3 =df1[['Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12']]

In [8]:
df1_S1.head()

     Transporteur Semaine 2024 35    Unnamed: 2    Unnamed: 3 Unnamed: 4
0           Ligne   Tx conformite  Tx SI avance  Tx SI retard      Tx SI
1  DSP19 - SENART        0.931777      0.013608        0.0058   0.019408
2            TZN1        0.926288      0.015576      0.002528   0.018104
3              01             NaN           NaN           NaN        NaN
4              02        0.947664      0.015888             0   0.015888

In [10]:
date_S1=df1_S1.columns.to_list()[1]
print(date_S1)


df1_S1 = df1_S1.copy()
df1_S1['Date'] = date_S1

#df1_S1['Date']= date_S1
#type(date_S1)

Semaine 2024 35

In [11]:
df1_S1.head(5)

,Transporteur,Semaine 2024 35,Unnamed: 2,Unnamed: 3,Unnamed: 4,Date
0,Ligne,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Semaine 2024 35
1,DSP19 - SENART,0.931777,0.013608,0.0058,0.019408,Semaine 2024 35
2,TZN1,0.926288,0.015576,0.002528,0.018104,Semaine 2024 35
3,01,NaN,NaN,NaN,NaN,Semaine 2024 35
4,02,0.947664,0.015888,0,0.015888,Semaine 2024 35

In [12]:
df1_S1.columns=df1_S1.iloc[0]

In [13]:
df1_S1.head(2)

,Ligne,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Semaine 2024 35
0,Ligne,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Semaine 2024 35
1,DSP19 - SENART,0.931777,0.013608,0.0058,0.019408,Semaine 2024 35

In [34]:
df1_S1=df1_S1[2:]

In [35]:
df1_S1.head(2)

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  Semaine 2024 35
2  TZN1      0.926288     0.015576     0.002528  0.018104  Semaine 2024 35
3    01           NaN          NaN          NaN       NaN  Semaine 2024 35

In [14]:
type(df1_S1)
#df1_S1=df1_S1.reset_index(drop=True)

pandas.core.frame.DataFrame

In [16]:
df1_S1=df1_S1.reset_index(drop=True)

In [17]:
df1_S1.head(2)

,Ligne,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Semaine 2024 35
0,Ligne,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Semaine 2024 35
1,DSP19 - SENART,0.931777,0.013608,0.0058,0.019408,Semaine 2024 35

In [18]:
df1_S1.rename(columns={'Semaine 2024 35':'Date'})

,Ligne,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Date
0,Ligne,Tx conformite,Tx SI avance,Tx SI retard,Tx SI,Semaine 2024 35
1,DSP19 - SENART,0.931777,0.013608,0.0058,0.019408,Semaine 2024 35
2,TZN1,0.926288,0.015576,0.002528,0.018104,Semaine 2024 35
3,01,NaN,NaN,NaN,NaN,Semaine 2024 35
4,02,0.947664,0.015888,0,0.015888,Semaine 2024 35
5,03,0.980887,0.009939,0.000765,0.010703,Semaine 2024 35
6,04,0.952328,0.008869,0.00388,0.012749,Semaine 2024 35
7,05,NaN,NaN,NaN,NaN,Semaine 2024 35
8,11,0.959989,0.008165,0.001633,0.009799,Semaine 2024 35
9,12,0.966903,0.013855,0.004002,0.017857,Semaine 2024 35
10,13,0.979186,0.008326,0.000308,0.008634,Semaine 2024 35
11,21,0.925339,0.011312,0.004309,0.015622,Semaine 2024 35
12,22,0.912613,0.009079,0.012322,0.021401,Semaine 2024 35
13,23,0.898671,0.036545,0.016196,0.052741,Semaine 2024 35
14,24,0.9416,0.007964,0.003792,0.011756,Semaine 2024 35
15,25,0.923048,0.008299,0.026405,0.034704,Semaine 2024 35
16,26,0.936541,0.026499,0.006974,0.033473,Semaine 2024 35
17,27,0.958333,0.014583,0.010417,0.025,Semaine 2024 35
18,31,0.954018,0.004537,0.001769,0.006305,Semaine 2024 35
19,32,0.965986,0.008098,0.000648,0.008746,Semaine 2024 35
20,33,0.943556,0.007526,0.002822,0.010348,Semaine 2024 35
21,34,0.977907,0.008337,0,0.008337,Semaine 2024 35
22,35,0.967647,0.017647,0.005882,0.023529,Semaine 2024 35
23,36,0.952116,0.021521,0.007174,0.028694,Semaine 2024 35
24,37,0.971079,0.014461,0.001112,0.015573,Semaine 2024 35
25,41,0.978846,0.015385,0.000962,0.016346,Semaine 2024 35
26,42,0.953435,0.022392,0.003053,0.025445,Semaine 2024 35
27,43,0.966056,0.014866,0.000496,0.015362,Semaine 2024 35
28,50,0.838578,0.031886,0.005664,0.03755,Semaine 2024 35
29,51,0.923581,0.011421,0.008062,0.019483,Semaine 2024 35
30,52,NaN,NaN,NaN,NaN,Semaine 2024 35
31,53,0.919954,0.005568,0.016241,0.02181,Semaine 2024 35
32,54,0.697183,0.274648,0.003521,0.278169,Semaine 2024 35
33,55,0.731602,0.047619,0.073593,0.121212,Semaine 2024 35
34,61B,NaN,NaN,NaN,NaN,Semaine 2024 35
35,61A,NaN,NaN,NaN,NaN,Semaine 2024 35
36,62B,NaN,NaN,NaN,NaN,Semaine 2024 35
37,62A,NaN,NaN,NaN,NaN,Semaine 2024 35
38,62C,NaN,NaN,NaN,NaN,Semaine 2024 35
39,63,NaN,NaN,NaN,NaN,Semaine 2024 35
40,64,NaN,NaN,NaN,NaN,Semaine 2024 35
41,CPSF,0.930016,0.032659,0.012442,0.045101,Semaine 2024 35
42,CITA,0.845931,0.010103,0.022451,0.032554,Semaine 2024 35
43,Somme finale,0.931777,0.013608,0.0058,0.019408,Semaine 2024 35

In [19]:
print(df1_S1.columns)

print(df1_S1.head(2))

Index(['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI',
       'Semaine 2024 35'],
      dtype='object', name=0)
0           Ligne  Tx conformite  Tx SI avance  Tx SI retard     Tx SI  \
0           Ligne  Tx conformite  Tx SI avance  Tx SI retard     Tx SI
1  DSP19 - SENART       0.931777      0.013608        0.0058  0.019408

0  Semaine 2024 35
0  Semaine 2024 35
1  Semaine 2024 35

In [20]:
df = pd.read_excel(filename, header=11)
df.columns

Index(['Transporteur', 'Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Totaux', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [42]:
# Extraire les colonnes qui contiennent le mot 'Semaine'
colonnes_semaines = [col for col in df.columns if 'Semaine' in col]

# Afficher les colonnes correspondantes
print(colonnes_semaines)

['Semaine 2024 35', 'Semaine 2024 36', 'Semaine 2024 37', 'Semaine 2024 38']

In [21]:
# Fonction pour récupérer les paires start_week et end_week
def get_week_intervals(df):
    # Récupérer les colonnes contenant 'Semaine'
    week_columns = [col for col in df.columns if 'Semaine' in col]
    
    # Créer une liste pour stocker les paires (start_week, end_week)
    intervals = []

    for i in range(len(week_columns) - 1):
        start_week = week_columns[i]
        end_week = week_columns[i + 1]
        intervals.append((start_week, end_week))
    
    return intervals

In [22]:
# Récupérer les paires de semaines
week_intervals = get_week_intervals(df)

# Affichage des intervalles (start_week, end_week)
print(week_intervals)

[('Semaine 2024 35', 'Semaine 2024 36'), ('Semaine 2024 36', 'Semaine 2024 37'), ('Semaine 2024 37', 'Semaine 2024 38')]

In [49]:
# Fonction pour récupérer les colonnes entre deux semaines, sans inclure la colonne de fin
def get_columns_between_weeks_exclusive(df, start_week, end_week):
    # Initialisation de la liste des colonnes à inclure
    selected_columns = []
    include = False

    for col in df.columns:
        # Vérification si on doit commencer à inclure les colonnes
        if start_week in col:
            include = True
        # Ajout des colonnes tant qu'on est dans l'intervalle
        if include:
            # Arrêter d'ajouter les colonnes dès que la colonne de fin est atteinte
            if end_week in col:
                break
            selected_columns.append(col)
    
    return selected_columns

In [45]:
# Récupérer les paires de semaines
week_intervals

[('Semaine 2024 35', 'Semaine 2024 36'),
 ('Semaine 2024 36', 'Semaine 2024 37'),
 ('Semaine 2024 37', 'Semaine 2024 38')]

In [46]:
week_intervals[0]

('Semaine 2024 35', 'Semaine 2024 36')

In [47]:
week_intervals[0][0]

'Semaine 2024 35'

In [51]:
# Exemple d'utilisation
start_week = week_intervals[0][0]
end_week = week_intervals[0][1]

# Récupérer les colonnes entre deux semaines, sans inclure la colonne de fin
first_week_interval_columns = get_columns_between_weeks_exclusive(df, start_week, end_week)

# Affichage des colonnes sélectionnées
print(first_week_interval_columns)

['Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

In [52]:
# Récupérer les paires de semaines
week_intervals = get_week_intervals(df)

# Initialiser un dictionnaire pour stocker les colonnes par intervalle
columns_by_interval = {}

# Boucle sur chaque intervalle (start_week, end_week) pour récupérer les colonnes
for start_week, end_week in week_intervals:
    # Récupérer les colonnes pour cet intervalle spécifique
    interval_columns = get_columns_between_weeks_exclusive(df, start_week, end_week)
    # Stocker le résultat dans le dictionnaire avec l'intervalle comme clé
    columns_by_interval[(start_week, end_week)] = interval_columns

# Afficher les colonnes pour chaque intervalle
for interval, columns in columns_by_interval.items():
    print(f"Intervalle {interval}: {columns}")

Intervalle ('Semaine 2024 35', 'Semaine 2024 36'): ['Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
Intervalle ('Semaine 2024 36', 'Semaine 2024 37'): ['Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8']
Intervalle ('Semaine 2024 37', 'Semaine 2024 38'): ['Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']

In [23]:
df.columns

Index(['Transporteur', 'Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Totaux', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [24]:
# Fonction pour récupérer les paires start_week et end_week, incluant la dernière semaine si non suivie
def get_week_intervals(df):
    week_columns = [col for col in df.columns if 'Semaine' in col]
    intervals = []
    for i in range(len(week_columns) - 1):
        start_week = week_columns[i]
        end_week = week_columns[i + 1]
        intervals.append((start_week, end_week))
    # Ajouter la dernière semaine seule si elle n'a pas d'intervalle suivant
    if len(week_columns) > 0:
        intervals.append((week_columns[-1], None))
    return intervals

# Fonction pour récupérer les colonnes entre deux semaines, incluant le cas où end_week est None
def get_columns_between_weeks_exclusive(df, start_week, end_week):
    selected_columns = []
    include = False
    for col in df.columns:
        if start_week in col:
            include = True
        if include:
            # Si end_week est None, inclure toutes les colonnes restantes
            if end_week is None:
                selected_columns.append(col)
            # Sinon, arrêter l'inclusion avant d'atteindre end_week
            elif end_week in col:
                break
            else:
                selected_columns.append(col)
    return selected_columns

# Récupérer les paires de semaines
week_intervals = get_week_intervals(df)

# Initialiser un dictionnaire pour stocker les colonnes par intervalle
columns_by_interval = {}

# Boucle sur chaque intervalle (start_week, end_week) pour récupérer les colonnes
for start_week, end_week in week_intervals:
    # Récupérer les colonnes pour cet intervalle spécifique
    interval_columns = get_columns_between_weeks_exclusive(df, start_week, end_week)
    # Stocker le résultat dans le dictionnaire avec l'intervalle comme clé
    columns_by_interval[(start_week, end_week)] = interval_columns

# Afficher les colonnes pour chaque intervalle
for interval, columns in columns_by_interval.items():
    print(f"Intervalle {interval}: {columns}")

Intervalle ('Semaine 2024 35', 'Semaine 2024 36'): ['Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
Intervalle ('Semaine 2024 36', 'Semaine 2024 37'): ['Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8']
Intervalle ('Semaine 2024 37', 'Semaine 2024 38'): ['Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
Intervalle ('Semaine 2024 38', None): ['Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Totaux', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']

In [25]:
columns_by_interval

{('Semaine 2024 35', 'Semaine 2024 36'): ['Semaine 2024 35',
  'Unnamed: 2',
  'Unnamed: 3',
  'Unnamed: 4'],
 ('Semaine 2024 36', 'Semaine 2024 37'): ['Semaine 2024 36',
  'Unnamed: 6',
  'Unnamed: 7',
  'Unnamed: 8'],
 ('Semaine 2024 37', 'Semaine 2024 38'): ['Semaine 2024 37',
  'Unnamed: 10',
  'Unnamed: 11',
  'Unnamed: 12'],
 ('Semaine 2024 38', None): ['Semaine 2024 38',
  'Unnamed: 14',
  'Unnamed: 15',
  'Unnamed: 16',
  'Totaux',
  'Unnamed: 18',
  'Unnamed: 19',
  'Unnamed: 20']}

In [26]:
# Fonction pour récupérer les paires start_week et end_week, incluant la dernière semaine si non suivie
def get_week_intervals(df):
    week_columns = [col for col in df.columns if 'Semaine' in col]
    intervals = []
    for i in range(len(week_columns) - 1):
        start_week = week_columns[i]
        end_week = week_columns[i + 1]
        intervals.append((start_week, end_week))
    # Ajouter la dernière semaine seule si elle n'a pas d'intervalle suivant
    if len(week_columns) > 0:
        intervals.append((week_columns[-1], None))
    return intervals

# Fonction pour récupérer les colonnes entre deux semaines, incluant le cas où end_week est None
def get_columns_between_weeks_exclusive(df, start_week, end_week):
    selected_columns = []
    include = False
    for col in df.columns:
        if start_week in col:
            include = True
        if include:
            # Si end_week est None, inclure toutes les colonnes restantes sauf 'Totaux' et suivantes
            if end_week is None:
                if col == 'Totaux':  # Arrêter l'inclusion dès qu'on atteint 'Totaux'
                    break
                selected_columns.append(col)
            # Sinon, arrêter l'inclusion avant d'atteindre end_week
            elif end_week in col:
                break
            else:
                selected_columns.append(col)
    return selected_columns

# Récupérer les paires de semaines
week_intervals = get_week_intervals(df)

# Initialiser un dictionnaire pour stocker les colonnes par intervalle
columns_by_interval = {}

# Boucle sur chaque intervalle (start_week, end_week) pour récupérer les colonnes
for start_week, end_week in week_intervals:
    # Récupérer les colonnes pour cet intervalle spécifique
    interval_columns = get_columns_between_weeks_exclusive(df, start_week, end_week)
    # Stocker le résultat dans le dictionnaire avec l'intervalle comme clé
    columns_by_interval[(start_week, end_week)] = interval_columns

# Afficher les colonnes pour chaque intervalle
for interval, columns in columns_by_interval.items():
    print(f"Intervalle {interval}: {columns}")

Intervalle ('Semaine 2024 35', 'Semaine 2024 36'): ['Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
Intervalle ('Semaine 2024 36', 'Semaine 2024 37'): ['Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8']
Intervalle ('Semaine 2024 37', 'Semaine 2024 38'): ['Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
Intervalle ('Semaine 2024 38', None): ['Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

In [27]:
columns_by_interval

{('Semaine 2024 35', 'Semaine 2024 36'): ['Semaine 2024 35',
  'Unnamed: 2',
  'Unnamed: 3',
  'Unnamed: 4'],
 ('Semaine 2024 36', 'Semaine 2024 37'): ['Semaine 2024 36',
  'Unnamed: 6',
  'Unnamed: 7',
  'Unnamed: 8'],
 ('Semaine 2024 37', 'Semaine 2024 38'): ['Semaine 2024 37',
  'Unnamed: 10',
  'Unnamed: 11',
  'Unnamed: 12'],
 ('Semaine 2024 38', None): ['Semaine 2024 38',
  'Unnamed: 14',
  'Unnamed: 15',
  'Unnamed: 16']}

In [40]:
# Fonction pour récupérer les paires start_week et end_week, incluant la dernière semaine si non suivie
def get_week_intervals(df):
    week_columns = [col for col in df.columns if 'Semaine' in col]
    intervals = []
    for i in range(len(week_columns) - 1):
        start_week = week_columns[i]
        end_week = week_columns[i + 1]
        intervals.append((start_week, end_week))
    # Ajouter la dernière semaine seule si elle n'a pas d'intervalle suivant
    if len(week_columns) > 0:
        intervals.append((week_columns[-1], None))
    return intervals

# Fonction pour récupérer les colonnes entre deux semaines, incluant le cas où end_week est None
def get_columns_between_weeks_exclusive(df, start_week, end_week):
    selected_columns = []
    include = False
    for col in df.columns:
        if start_week in col:
            include = True
        if include:
            # Si end_week est None, inclure toutes les colonnes restantes sauf 'Totaux' et suivantes
            if end_week is None:
                if col == 'Totaux':  # Arrêter l'inclusion dès qu'on atteint 'Totaux'
                    break
                selected_columns.append(col)
            # Sinon, arrêter l'inclusion avant d'atteindre end_week
            elif end_week in col:
                break
            else:
                selected_columns.append(col)
    return selected_columns

# Récupérer les paires de semaines
week_intervals = get_week_intervals(df)

# Initialiser un dictionnaire pour stocker les colonnes par intervalle
columns_by_interval = {}

# Boucle sur chaque intervalle (start_week, end_week) pour récupérer les colonnes
for start_week, end_week in week_intervals:
    # Récupérer les colonnes pour cet intervalle spécifique
    interval_columns = get_columns_between_weeks_exclusive(df, start_week, end_week)
    # Ajouter la colonne 'Transporteur' en premier (index 0)
    interval_columns.insert(0, 'Transporteur')
    # Stocker le résultat dans le dictionnaire avec l'intervalle comme clé
    columns_by_interval[(start_week, end_week)] = interval_columns

# Afficher les colonnes pour chaque intervalle
for interval, columns in columns_by_interval.items():
    print(f"Intervalle {interval}: {columns}")

Intervalle ('Semaine 2024 35', 'Semaine 2024 36'): ['Transporteur', 'Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
Intervalle ('Semaine 2024 36', 'Semaine 2024 37'): ['Transporteur', 'Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8']
Intervalle ('Semaine 2024 37', 'Semaine 2024 38'): ['Transporteur', 'Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
Intervalle ('Semaine 2024 38', None): ['Transporteur', 'Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

In [41]:
columns_by_interval

{('Semaine 2024 35', 'Semaine 2024 36'): ['Transporteur',
  'Semaine 2024 35',
  'Unnamed: 2',
  'Unnamed: 3',
  'Unnamed: 4'],
 ('Semaine 2024 36', 'Semaine 2024 37'): ['Transporteur',
  'Semaine 2024 36',
  'Unnamed: 6',
  'Unnamed: 7',
  'Unnamed: 8'],
 ('Semaine 2024 37', 'Semaine 2024 38'): ['Transporteur',
  'Semaine 2024 37',
  'Unnamed: 10',
  'Unnamed: 11',
  'Unnamed: 12'],
 ('Semaine 2024 38', None): ['Transporteur',
  'Semaine 2024 38',
  'Unnamed: 14',
  'Unnamed: 15',
  'Unnamed: 16']}

In [58]:
#columns

In [42]:
# Récupérer le premier intervalle
first_interval = list(columns_by_interval.keys())[0]

# Récupérer les colonnes correspondant au premier intervalle
first_interval_columns = columns_by_interval[first_interval]

# Créer le DataFrame S1 en sélectionnant les colonnes dans df1
S1 = df[first_interval_columns]

# Afficher le DataFrame S1
print("DataFrame S1 basé sur le premier intervalle :")
display(S1)

DataFrame S1 basé sur le premier intervalle :

      Transporteur Semaine 2024 35    Unnamed: 2    Unnamed: 3 Unnamed: 4
0            Ligne   Tx conformite  Tx SI avance  Tx SI retard      Tx SI
1   DSP19 - SENART        0.931777      0.013608        0.0058   0.019408
2             TZN1        0.926288      0.015576      0.002528   0.018104
3               01             NaN           NaN           NaN        NaN
4               02        0.947664      0.015888             0   0.015888
5               03        0.980887      0.009939      0.000765   0.010703
6               04        0.952328      0.008869       0.00388   0.012749
7               05             NaN           NaN           NaN        NaN
8               11        0.959989      0.008165      0.001633   0.009799
9               12        0.966903      0.013855      0.004002   0.017857
10              13        0.979186      0.008326      0.000308   0.008634
11              21        0.925339      0.011312      0.004309   0.015622
12              22        0.912613      0.009079      0.012322   0.021401
13              23        0.898671      0.036545      0.016196   0.052741
14              24          0.9416      0.007964      0.003792   0.011756
15              25        0.923048      0.008299      0.026405   0.034704
16              26        0.936541      0.026499      0.006974   0.033473
17              27        0.958333      0.014583      0.010417      0.025
18              31        0.954018      0.004537      0.001769   0.006305
19              32        0.965986      0.008098      0.000648   0.008746
20              33        0.943556      0.007526      0.002822   0.010348
21              34        0.977907      0.008337             0   0.008337
22              35        0.967647      0.017647      0.005882   0.023529
23              36        0.952116      0.021521      0.007174   0.028694
24              37        0.971079      0.014461      0.001112   0.015573
25              41        0.978846      0.015385      0.000962   0.016346
26              42        0.953435      0.022392      0.003053   0.025445
27              43        0.966056      0.014866      0.000496   0.015362
28              50        0.838578      0.031886      0.005664    0.03755
29              51        0.923581      0.011421      0.008062   0.019483
30              52             NaN           NaN           NaN        NaN
31              53        0.919954      0.005568      0.016241    0.02181
32              54        0.697183      0.274648      0.003521   0.278169
33              55        0.731602      0.047619      0.073593   0.121212
34             61B             NaN           NaN           NaN        NaN
35             61A             NaN           NaN           NaN        NaN
36             62B             NaN           NaN           NaN        NaN
37             62A             NaN           NaN           NaN        NaN
38             62C             NaN           NaN           NaN        NaN
39              63             NaN           NaN           NaN        NaN
40              64             NaN           NaN           NaN        NaN
41            CPSF        0.930016      0.032659      0.012442   0.045101
42            CITA        0.845931      0.010103      0.022451   0.032554
43    Somme finale        0.931777      0.013608        0.0058   0.019408

In [85]:
# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns]
    # Nommer le DataFrame (par exemple, S1, S2, S3, etc.)

    # Supprimer la dernière ligne du DataFrame
    df_interval = df_interval.iloc[:-1]

    dataframe_name = f"S{idx + 1}"
    # Stocker le DataFrame dans le dictionnaire
    dataframes_by_interval[dataframe_name] = df_interval
    # Afficher le DataFrame
    print(f"DataFrame {dataframe_name} basé sur l'intervalle {interval}:")
    display(df_interval.head(10))
    display(df_interval.tail(2))
    print("\n")

# Accéder aux DataFrames dans le dictionnaire
# Par exemple, accéder à S1
S1 = dataframes_by_interval['S1']

DataFrame S1 basé sur l'intervalle ('Semaine 2024 35', 'Semaine 2024 36'):

     Transporteur Semaine 2024 35    Unnamed: 2    Unnamed: 3 Unnamed: 4
0           Ligne   Tx conformite  Tx SI avance  Tx SI retard      Tx SI
1  DSP19 - SENART        0.931777      0.013608        0.0058   0.019408
2            TZN1        0.926288      0.015576      0.002528   0.018104
3              01             NaN           NaN           NaN        NaN
4              02        0.947664      0.015888             0   0.015888
5              03        0.980887      0.009939      0.000765   0.010703
6              04        0.952328      0.008869       0.00388   0.012749
7              05             NaN           NaN           NaN        NaN
8              11        0.959989      0.008165      0.001633   0.009799
9              12        0.966903      0.013855      0.004002   0.017857

   Transporteur Semaine 2024 35 Unnamed: 2 Unnamed: 3 Unnamed: 4
41         CPSF        0.930016   0.032659   0.012442   0.045101
42         CITA        0.845931   0.010103   0.022451   0.032554

DataFrame S2 basé sur l'intervalle ('Semaine 2024 36', 'Semaine 2024 37'):

     Transporteur Semaine 2024 36    Unnamed: 6    Unnamed: 7 Unnamed: 8
0           Ligne   Tx conformite  Tx SI avance  Tx SI retard      Tx SI
1  DSP19 - SENART        0.921553      0.013807      0.008999   0.022806
2            TZN1        0.920407      0.017316      0.005316   0.022632
3              01        0.766323      0.041237      0.013746   0.054983
4              02        0.947853      0.011247             0   0.011247
5              03        0.958935      0.013538      0.002708   0.016245
6              04        0.966596      0.005626      0.006329   0.011955
7              05        0.864706      0.035294      0.011765   0.047059
8              11         0.92909      0.006189      0.001076   0.007266
9              12         0.94683      0.007402      0.002961   0.010363

   Transporteur Semaine 2024 36 Unnamed: 6 Unnamed: 7 Unnamed: 8
41         CPSF        0.952496   0.032206          0   0.032206
42         CITA        0.855589   0.009149   0.006677   0.015826

DataFrame S3 basé sur l'intervalle ('Semaine 2024 37', 'Semaine 2024 38'):

     Transporteur Semaine 2024 37   Unnamed: 10   Unnamed: 11 Unnamed: 12
0           Ligne   Tx conformite  Tx SI avance  Tx SI retard       Tx SI
1  DSP19 - SENART        0.920352      0.017158      0.007891    0.025049
2            TZN1        0.923497      0.019879      0.002187    0.022066
3              01          0.7022      0.106599      0.032149    0.138748
4              02        0.944906      0.009356             0    0.009356
5              03        0.972314      0.006612      0.001653    0.008264
6              04        0.908163      0.007937      0.010771    0.018707
7              05        0.808772      0.024561      0.014035    0.038596
8              11        0.937835      0.005091      0.002412    0.007503
9              12        0.944635      0.012767      0.005156    0.017923

   Transporteur Semaine 2024 37 Unnamed: 10 Unnamed: 11 Unnamed: 12
41         CPSF        0.953978    0.024961     0.00312    0.028081
42         CITA          0.8503    0.009998    0.005272     0.01527

DataFrame S4 basé sur l'intervalle ('Semaine 2024 38', None):

     Transporteur Semaine 2024 38   Unnamed: 14   Unnamed: 15 Unnamed: 16
0           Ligne   Tx conformite  Tx SI avance  Tx SI retard       Tx SI
1  DSP19 - SENART        0.930056      0.016524       0.00765    0.024174
2            TZN1        0.943673      0.019833      0.000793    0.020627
3              01        0.693182      0.022727      0.007576    0.030303
4              02        0.984085      0.007958             0    0.007958
5              03        0.979339      0.012397             0    0.012397
6              04        0.929952      0.008052      0.003221    0.011272
7              05        0.852459      0.065574             0    0.065574
8              11        0.933457      0.004929             0    0.004929
9              12         0.93668      0.005249      0.002625    0.007874

   Transporteur Semaine 2024 38 Unnamed: 14 Unnamed: 15 Unnamed: 16
41         CPSF        0.981818    0.018182           0    0.018182
42         CITA        0.884149    0.020359    0.004363    0.024721

In [86]:
# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()

    df_interval = df_interval.iloc[:-1]
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[1]  # Prendre le nom de la première colonne
    print(date_S1)
    date_S1 =  "S" + date_S1.strip().split()[-1] 

    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Nommer le DataFrame (par exemple, S1, S2, S3, etc.)
    dataframe_name = f"S{idx + 1}"
    
    # Stocker le DataFrame transformé dans le dictionnaire
    dataframes_by_interval[dataframe_name] = df_interval
    
    # Afficher le DataFrame transformé
    print(f"DataFrame {dataframe_name} transformé :")
    display(df_interval.head(10))
    print("\n")

# Accéder aux DataFrames transformés dans le dictionnaire
# Par exemple, accéder à S1
S1 = dataframes_by_interval['S1']

Semaine 2024 35
DataFrame S1 transformé :

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  S35
0  TZN1      0.926288     0.015576     0.002528  0.018104  S35
1    01           NaN          NaN          NaN       NaN  S35
2    02      0.947664     0.015888            0  0.015888  S35
3    03      0.980887     0.009939     0.000765  0.010703  S35
4    04      0.952328     0.008869      0.00388  0.012749  S35
5    05           NaN          NaN          NaN       NaN  S35
6    11      0.959989     0.008165     0.001633  0.009799  S35
7    12      0.966903     0.013855     0.004002  0.017857  S35
8    13      0.979186     0.008326     0.000308  0.008634  S35
9    21      0.925339     0.011312     0.004309  0.015622  S35

Semaine 2024 36
DataFrame S2 transformé :

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  S36
0  TZN1      0.920407     0.017316     0.005316  0.022632  S36
1    01      0.766323     0.041237     0.013746  0.054983  S36
2    02      0.947853     0.011247            0  0.011247  S36
3    03      0.958935     0.013538     0.002708  0.016245  S36
4    04      0.966596     0.005626     0.006329  0.011955  S36
5    05      0.864706     0.035294     0.011765  0.047059  S36
6    11       0.92909     0.006189     0.001076  0.007266  S36
7    12       0.94683     0.007402     0.002961  0.010363  S36
8    13      0.957199     0.006283     0.002618  0.008901  S36
9    21      0.914074      0.01804     0.011028  0.029068  S36

Semaine 2024 37
DataFrame S3 transformé :

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  S37
0  TZN1      0.923497     0.019879     0.002187  0.022066  S37
1    01        0.7022     0.106599     0.032149  0.138748  S37
2    02      0.944906     0.009356            0  0.009356  S37
3    03      0.972314     0.006612     0.001653  0.008264  S37
4    04      0.908163     0.007937     0.010771  0.018707  S37
5    05      0.808772     0.024561     0.014035  0.038596  S37
6    11      0.937835     0.005091     0.002412  0.007503  S37
7    12      0.944635     0.012767     0.005156  0.017923  S37
8    13      0.963183     0.006598     0.003695  0.010293  S37
9    21      0.935439     0.022866     0.004343  0.027209  S37

Semaine 2024 38
DataFrame S4 transformé :

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  S38
0  TZN1      0.943673     0.019833     0.000793  0.020627  S38
1    01      0.693182     0.022727     0.007576  0.030303  S38
2    02      0.984085     0.007958            0  0.007958  S38
3    03      0.979339     0.012397            0  0.012397  S38
4    04      0.929952     0.008052     0.003221  0.011272  S38
5    05      0.852459     0.065574            0  0.065574  S38
6    11      0.933457     0.004929            0  0.004929  S38
7    12       0.93668     0.005249     0.002625  0.007874  S38
8    13      0.967359     0.002967     0.000742  0.003709  S38
9    21       0.95093      0.02438     0.002273  0.026653  S38

In [88]:
# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    df_interval = df_interval.iloc[:-1]

    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[1]  # Prendre le nom de la première colonne
    date_S1 =  "S" + date_S1.strip().split()[-1] 
    
  

    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Nommer le DataFrame (par exemple, S1, S2, S3, etc.)
    dataframe_name = f"S{idx + 1}"
    
    # Stocker le DataFrame transformé dans le dictionnaire
    dataframes_by_interval[dataframe_name] = df_interval
    
    # Afficher le DataFrame transformé
    print(f"DataFrame {dataframe_name} transformé :")
    display(df_interval.head(2))
    print("\n")

# Accéder aux DataFrames transformés dans le dictionnaire
# Par exemple, accéder à S1
S1 = dataframes_by_interval['S1']

DataFrame S1 transformé :

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  S38
0  TZN1      0.926288     0.015576     0.002528  0.018104  S38
1    01           NaN          NaN          NaN       NaN  S38

DataFrame S2 transformé :

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  S35
0  TZN1      0.920407     0.017316     0.005316  0.022632  S35
1    01      0.766323     0.041237     0.013746  0.054983  S35

DataFrame S3 transformé :

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  S36
0  TZN1      0.923497     0.019879     0.002187  0.022066  S36
1    01        0.7022     0.106599     0.032149  0.138748  S36

DataFrame S4 transformé :

0 Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI  S37
0  TZN1      0.943673     0.019833     0.000793  0.020627  S37
1    01      0.693182     0.022727     0.007576  0.030303  S37

In [89]:
# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    # if idx == len(columns_by_interval) - 1:
    #     # Trouver l'index de la colonne 'Totaux'
    #     if 'Totaux' in columns:
    #         total_index = columns.index('Totaux')
    #         # Exclure toutes les colonnes à partir de 'Totaux' inclusivement
    #         columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()

    df_interval = df_interval.iloc[:-1]
    
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[1]  # Prendre le nom de la première colonne
    date_S1 =  "S" + date_S1.strip().split()[-1] 


    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Nommer le DataFrame (par exemple, S1, S2, S3, etc.)
    dataframe_name = f"S{idx + 1}"
    
    # Stocker le DataFrame transformé dans le dictionnaire
    dataframes_by_interval[dataframe_name] = df_interval
    
    # Afficher le DataFrame transformé
    print(f"DataFrame {dataframe_name} transformé :")
    print(df_interval.columns) 
    display(df_interval.tail(5))
    print("\n")

# Accéder aux DataFrames transformés dans le dictionnaire
# Par exemple, accéder à S1
S1 = dataframes_by_interval['S1']

DataFrame S1 transformé :
Index(['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI',
       'Date'],
      dtype='object', name=0)

0  Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI Date
36   62C           NaN          NaN          NaN       NaN  S35
37    63           NaN          NaN          NaN       NaN  S35
38    64           NaN          NaN          NaN       NaN  S35
39  CPSF      0.930016     0.032659     0.012442  0.045101  S35
40  CITA      0.845931     0.010103     0.022451  0.032554  S35

DataFrame S2 transformé :
Index(['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI',
       'Date'],
      dtype='object', name=0)

0  Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI Date
36   62C      0.970238     0.011905     0.003968  0.015873  S36
37    63      0.940196     0.007843     0.005882  0.013725  S36
38    64        0.9175         0.01         0.01      0.02  S36
39  CPSF      0.952496     0.032206            0  0.032206  S36
40  CITA      0.855589     0.009149     0.006677  0.015826  S36

DataFrame S3 transformé :
Index(['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI',
       'Date'],
      dtype='object', name=0)

0  Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI Date
36   62C      0.700957     0.004785     0.062201  0.066986  S37
37    63         0.933        0.016        0.004      0.02  S37
38    64      0.939614     0.014493            0  0.014493  S37
39  CPSF      0.953978     0.024961      0.00312  0.028081  S37
40  CITA        0.8503     0.009998     0.005272   0.01527  S37

DataFrame S4 transformé :
Index(['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI',
       'Date'],
      dtype='object', name=0)

0  Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI Date
36   62C      0.947059            0            0         0  S38
37    63      0.897561     0.004878     0.009756  0.014634  S38
38    64         0.875     0.029412            0  0.029412  S38
39  CPSF      0.981818     0.018182            0  0.018182  S38
40  CITA      0.884149     0.020359     0.004363  0.024721  S38

In [90]:
df.columns

Index(['Transporteur', 'Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Totaux', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [91]:
columns_by_interval

{('Semaine 2024 35', 'Semaine 2024 36'): ['Transporteur',
  'Semaine 2024 35',
  'Unnamed: 2',
  'Unnamed: 3',
  'Unnamed: 4'],
 ('Semaine 2024 36', 'Semaine 2024 37'): ['Transporteur',
  'Semaine 2024 36',
  'Unnamed: 6',
  'Unnamed: 7',
  'Unnamed: 8'],
 ('Semaine 2024 37', 'Semaine 2024 38'): ['Transporteur',
  'Semaine 2024 37',
  'Unnamed: 10',
  'Unnamed: 11',
  'Unnamed: 12'],
 ('Semaine 2024 38', None): ['Transporteur',
  'Semaine 2024 38',
  'Unnamed: 14',
  'Unnamed: 15',
  'Unnamed: 16']}

In [92]:
import pandas as pd

# Créer une liste de tous les DataFrames dans le dictionnaire
dataframes_list = list(dataframes_by_interval.values())

# Utiliser pd.concat() pour concaténer tous les DataFrames en un seul
df_concat = pd.concat(dataframes_list, ignore_index=True)

# Afficher le DataFrame concaténé
print("DataFrame concaténé :")
print(df_concat.shape)
display(df_concat.head(50))

DataFrame concaténé :
(164, 6)

0  Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI Date
0   TZN1      0.926288     0.015576     0.002528  0.018104  S35
1     01           NaN          NaN          NaN       NaN  S35
2     02      0.947664     0.015888            0  0.015888  S35
3     03      0.980887     0.009939     0.000765  0.010703  S35
4     04      0.952328     0.008869      0.00388  0.012749  S35
5     05           NaN          NaN          NaN       NaN  S35
6     11      0.959989     0.008165     0.001633  0.009799  S35
7     12      0.966903     0.013855     0.004002  0.017857  S35
8     13      0.979186     0.008326     0.000308  0.008634  S35
9     21      0.925339     0.011312     0.004309  0.015622  S35
10    22      0.912613     0.009079     0.012322  0.021401  S35
11    23      0.898671     0.036545     0.016196  0.052741  S35
12    24        0.9416     0.007964     0.003792  0.011756  S35
13    25      0.923048     0.008299     0.026405  0.034704  S35
14    26      0.936541     0.026499     0.006974  0.033473  S35
15    27      0.958333     0.014583     0.010417     0.025  S35
16    31      0.954018     0.004537     0.001769  0.006305  S35
17    32      0.965986     0.008098     0.000648  0.008746  S35
18    33      0.943556     0.007526     0.002822  0.010348  S35
19    34      0.977907     0.008337            0  0.008337  S35
20    35      0.967647     0.017647     0.005882  0.023529  S35
21    36      0.952116     0.021521     0.007174  0.028694  S35
22    37      0.971079     0.014461     0.001112  0.015573  S35
23    41      0.978846     0.015385     0.000962  0.016346  S35
24    42      0.953435     0.022392     0.003053  0.025445  S35
25    43      0.966056     0.014866     0.000496  0.015362  S35
26    50      0.838578     0.031886     0.005664   0.03755  S35
27    51      0.923581     0.011421     0.008062  0.019483  S35
28    52           NaN          NaN          NaN       NaN  S35
29    53      0.919954     0.005568     0.016241   0.02181  S35
30    54      0.697183     0.274648     0.003521  0.278169  S35
31    55      0.731602     0.047619     0.073593  0.121212  S35
32   61B           NaN          NaN          NaN       NaN  S35
33   61A           NaN          NaN          NaN       NaN  S35
34   62B           NaN          NaN          NaN       NaN  S35
35   62A           NaN          NaN          NaN       NaN  S35
36   62C           NaN          NaN          NaN       NaN  S35
37    63           NaN          NaN          NaN       NaN  S35
38    64           NaN          NaN          NaN       NaN  S35
39  CPSF      0.930016     0.032659     0.012442  0.045101  S35
40  CITA      0.845931     0.010103     0.022451  0.032554  S35
41  TZN1      0.920407     0.017316     0.005316  0.022632  S36
42    01      0.766323     0.041237     0.013746  0.054983  S36
43    02      0.947853     0.011247            0  0.011247  S36
44    03      0.958935     0.013538     0.002708  0.016245  S36
45    04      0.966596     0.005626     0.006329  0.011955  S36
46    05      0.864706     0.035294     0.011765  0.047059  S36
47    11       0.92909     0.006189     0.001076  0.007266  S36
48    12       0.94683     0.007402     0.002961  0.010363  S36
49    13      0.957199     0.006283     0.002618  0.008901  S36

In [93]:
display(df_concat.tail(50))

0   Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI Date
114   61B      0.740251     0.024373     0.004178  0.028552  S37
115   61A      0.847709     0.013477     0.017071  0.030548  S37
116   62B      0.560662     0.014706     0.161765  0.176471  S37
117   62A      0.657447     0.148936     0.119149  0.268085  S37
118   62C      0.700957     0.004785     0.062201  0.066986  S37
119    63         0.933        0.016        0.004      0.02  S37
120    64      0.939614     0.014493            0  0.014493  S37
121  CPSF      0.953978     0.024961      0.00312  0.028081  S37
122  CITA        0.8503     0.009998     0.005272   0.01527  S37
123  TZN1      0.943673     0.019833     0.000793  0.020627  S38
124    01      0.693182     0.022727     0.007576  0.030303  S38
125    02      0.984085     0.007958            0  0.007958  S38
126    03      0.979339     0.012397            0  0.012397  S38
127    04      0.929952     0.008052     0.003221  0.011272  S38
128    05      0.852459     0.065574            0  0.065574  S38
129    11      0.933457     0.004929            0  0.004929  S38
130    12       0.93668     0.005249     0.002625  0.007874  S38
131    13      0.967359     0.002967     0.000742  0.003709  S38
132    21       0.95093      0.02438     0.002273  0.026653  S38
133    22      0.891074     0.011011     0.023987  0.034998  S38
134    23      0.952429     0.020648     0.004049  0.024696  S38
135    24      0.945255     0.008029     0.007299  0.015328  S38
136    25       0.95906     0.009856     0.004549  0.014405  S38
137    26      0.910646     0.057034     0.007605  0.064639  S38
138    27      0.948276     0.022989     0.017241   0.04023  S38
139    31      0.968317     0.005347      0.00198  0.007327  S38
140    32      0.955082     0.005902            0  0.005902  S38
141    33      0.953846     0.012179     0.012821     0.025  S38
142    34      0.930055     0.013158     0.029778  0.042936  S38
143    35      0.941667         0.05            0      0.05  S38
144    36      0.957941     0.029504     0.003139  0.032643  S38
145    37      0.971374     0.009542     0.000954  0.010496  S38
146    41      0.930931     0.015015     0.006006  0.021021  S38
147    42      0.924878     0.019512     0.000976  0.020488  S38
148    43      0.958462     0.004103     0.011282  0.015385  S38
149    50      0.842997     0.039036     0.016073  0.055109  S38
150    51      0.852137     0.005128     0.005128  0.010256  S38
151    52      0.847648      0.01227     0.047035  0.059305  S38
152    53      0.894774      0.00565     0.029661  0.035311  S38
153    54      0.641509     0.308176     0.006289  0.314465  S38
154    55       0.71978     0.010989     0.054945  0.065934  S38
155   61B      0.754921     0.007874     0.047244  0.055118  S38
156   61A      0.842657     0.030303     0.025641  0.055944  S38
157   62B      0.420561     0.009346      0.17757  0.186916  S38
158   62A      0.669811     0.235849            0  0.235849  S38
159   62C      0.947059            0            0         0  S38
160    63      0.897561     0.004878     0.009756  0.014634  S38
161    64         0.875     0.029412            0  0.029412  S38
162  CPSF      0.981818     0.018182            0  0.018182  S38
163  CITA      0.884149     0.020359     0.004363  0.024721  S38

In [ ]:
#GOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOD

In [33]:
# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Liste des colonnes à conserver
columns_to_keep = ['Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI', 'Date']

# Liste pour stocker les DataFrames filtrés
filtered_dfs = []

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    # if idx == len(columns_by_interval) - 1:
    #     if 'Totaux' in columns:
    #         total_index = columns.index('Totaux')
    #         columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[0]
    
    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Ajouter les colonnes à conserver depuis df1
    df_interval = df_interval.join(df[columns_to_keep[:-1]])
    
    # Sélectionner uniquement les colonnes à conserver
    df_filtered = df_interval[columns_to_keep]
    
    # Ajouter le DataFrame filtré à la liste
    filtered_dfs.append(df_filtered)

# Concaténer tous les DataFrames filtrés en un seul DataFrame
final_df = pd.concat(filtered_dfs, ignore_index=True)

# Afficher le DataFrame final
print("DataFrame unique après filtrage et concaténation :")
display(final_df)

KeyError: "None of [Index(['Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI'], dtype='object')] are in the [columns]"

In [34]:
df_interval

0  Tx conformite Tx SI avance Tx SI retard     Tx SI             Date
0       0.926288     0.015576     0.002528  0.018104  Semaine 2024 35
1            NaN          NaN          NaN       NaN  Semaine 2024 35
2       0.947664     0.015888            0  0.015888  Semaine 2024 35
3       0.980887     0.009939     0.000765  0.010703  Semaine 2024 35
4       0.952328     0.008869      0.00388  0.012749  Semaine 2024 35
5            NaN          NaN          NaN       NaN  Semaine 2024 35
6       0.959989     0.008165     0.001633  0.009799  Semaine 2024 35
7       0.966903     0.013855     0.004002  0.017857  Semaine 2024 35
8       0.979186     0.008326     0.000308  0.008634  Semaine 2024 35
9       0.925339     0.011312     0.004309  0.015622  Semaine 2024 35
10      0.912613     0.009079     0.012322  0.021401  Semaine 2024 35
11      0.898671     0.036545     0.016196  0.052741  Semaine 2024 35
12        0.9416     0.007964     0.003792  0.011756  Semaine 2024 35
13      0.923048     0.008299     0.026405  0.034704  Semaine 2024 35
14      0.936541     0.026499     0.006974  0.033473  Semaine 2024 35
15      0.958333     0.014583     0.010417     0.025  Semaine 2024 35
16      0.954018     0.004537     0.001769  0.006305  Semaine 2024 35
17      0.965986     0.008098     0.000648  0.008746  Semaine 2024 35
18      0.943556     0.007526     0.002822  0.010348  Semaine 2024 35
19      0.977907     0.008337            0  0.008337  Semaine 2024 35
20      0.967647     0.017647     0.005882  0.023529  Semaine 2024 35
21      0.952116     0.021521     0.007174  0.028694  Semaine 2024 35
22      0.971079     0.014461     0.001112  0.015573  Semaine 2024 35
23      0.978846     0.015385     0.000962  0.016346  Semaine 2024 35
24      0.953435     0.022392     0.003053  0.025445  Semaine 2024 35
25      0.966056     0.014866     0.000496  0.015362  Semaine 2024 35
26      0.838578     0.031886     0.005664   0.03755  Semaine 2024 35
27      0.923581     0.011421     0.008062  0.019483  Semaine 2024 35
28           NaN          NaN          NaN       NaN  Semaine 2024 35
29      0.919954     0.005568     0.016241   0.02181  Semaine 2024 35
30      0.697183     0.274648     0.003521  0.278169  Semaine 2024 35
31      0.731602     0.047619     0.073593  0.121212  Semaine 2024 35
32           NaN          NaN          NaN       NaN  Semaine 2024 35
33           NaN          NaN          NaN       NaN  Semaine 2024 35
34           NaN          NaN          NaN       NaN  Semaine 2024 35
35           NaN          NaN          NaN       NaN  Semaine 2024 35
36           NaN          NaN          NaN       NaN  Semaine 2024 35
37           NaN          NaN          NaN       NaN  Semaine 2024 35
38           NaN          NaN          NaN       NaN  Semaine 2024 35
39      0.930016     0.032659     0.012442  0.045101  Semaine 2024 35
40      0.845931     0.010103     0.022451  0.032554  Semaine 2024 35
41      0.931777     0.013608       0.0058  0.019408  Semaine 2024 35

In [73]:
# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Liste des colonnes à conserver
columns_to_keep = ['Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI', 'Date']

# Vérifier si toutes les colonnes nécessaires sont dans df1
common_columns = [col for col in columns_to_keep[:-1] if col in df.columns]

# Liste pour stocker les DataFrames filtrés
filtered_dfs = []

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    if idx == len(columns_by_interval) - 1:
        if 'Totaux' in columns:
            total_index = columns.index('Totaux')
            columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[0]
    
    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Ajouter les colonnes communes uniquement si elles existent dans df1
    if common_columns:
        df_interval = df_interval.join(df[common_columns])

    # Sélectionner uniquement les colonnes à conserver, y compris 'Date'
    if set(columns_to_keep).issubset(df_interval.columns):
        df_filtered = df_interval[columns_to_keep]
        filtered_dfs.append(df_filtered)

# Concaténer tous les DataFrames filtrés en un seul DataFrame
final_df = pd.concat(filtered_dfs, ignore_index=True)

# Afficher le DataFrame final
print("DataFrame unique après filtrage et concaténation :")
display(final_df)

DataFrame unique après filtrage et concaténation :

0   Tx conformite Tx SI avance Tx SI retard     Tx SI             Date
0        0.926288     0.015576     0.002528  0.018104  Semaine 2024 35
1             NaN          NaN          NaN       NaN  Semaine 2024 35
2        0.947664     0.015888            0  0.015888  Semaine 2024 35
3        0.980887     0.009939     0.000765  0.010703  Semaine 2024 35
4        0.952328     0.008869      0.00388  0.012749  Semaine 2024 35
..            ...          ...          ...       ...              ...
163      0.897561     0.004878     0.009756  0.014634  Semaine 2024 38
164         0.875     0.029412            0  0.029412  Semaine 2024 38
165      0.981818     0.018182            0  0.018182  Semaine 2024 38
166      0.884149     0.020359     0.004363  0.024721  Semaine 2024 38
167      0.930056     0.016524      0.00765  0.024174  Semaine 2024 38

[168 rows x 5 columns]

In [74]:
final_df.head(50)

0  Tx conformite Tx SI avance Tx SI retard     Tx SI             Date
0       0.926288     0.015576     0.002528  0.018104  Semaine 2024 35
1            NaN          NaN          NaN       NaN  Semaine 2024 35
2       0.947664     0.015888            0  0.015888  Semaine 2024 35
3       0.980887     0.009939     0.000765  0.010703  Semaine 2024 35
4       0.952328     0.008869      0.00388  0.012749  Semaine 2024 35
5            NaN          NaN          NaN       NaN  Semaine 2024 35
6       0.959989     0.008165     0.001633  0.009799  Semaine 2024 35
7       0.966903     0.013855     0.004002  0.017857  Semaine 2024 35
8       0.979186     0.008326     0.000308  0.008634  Semaine 2024 35
9       0.925339     0.011312     0.004309  0.015622  Semaine 2024 35
10      0.912613     0.009079     0.012322  0.021401  Semaine 2024 35
11      0.898671     0.036545     0.016196  0.052741  Semaine 2024 35
12        0.9416     0.007964     0.003792  0.011756  Semaine 2024 35
13      0.923048     0.008299     0.026405  0.034704  Semaine 2024 35
14      0.936541     0.026499     0.006974  0.033473  Semaine 2024 35
15      0.958333     0.014583     0.010417     0.025  Semaine 2024 35
16      0.954018     0.004537     0.001769  0.006305  Semaine 2024 35
17      0.965986     0.008098     0.000648  0.008746  Semaine 2024 35
18      0.943556     0.007526     0.002822  0.010348  Semaine 2024 35
19      0.977907     0.008337            0  0.008337  Semaine 2024 35
20      0.967647     0.017647     0.005882  0.023529  Semaine 2024 35
21      0.952116     0.021521     0.007174  0.028694  Semaine 2024 35
22      0.971079     0.014461     0.001112  0.015573  Semaine 2024 35
23      0.978846     0.015385     0.000962  0.016346  Semaine 2024 35
24      0.953435     0.022392     0.003053  0.025445  Semaine 2024 35
25      0.966056     0.014866     0.000496  0.015362  Semaine 2024 35
26      0.838578     0.031886     0.005664   0.03755  Semaine 2024 35
27      0.923581     0.011421     0.008062  0.019483  Semaine 2024 35
28           NaN          NaN          NaN       NaN  Semaine 2024 35
29      0.919954     0.005568     0.016241   0.02181  Semaine 2024 35
30      0.697183     0.274648     0.003521  0.278169  Semaine 2024 35
31      0.731602     0.047619     0.073593  0.121212  Semaine 2024 35
32           NaN          NaN          NaN       NaN  Semaine 2024 35
33           NaN          NaN          NaN       NaN  Semaine 2024 35
34           NaN          NaN          NaN       NaN  Semaine 2024 35
35           NaN          NaN          NaN       NaN  Semaine 2024 35
36           NaN          NaN          NaN       NaN  Semaine 2024 35
37           NaN          NaN          NaN       NaN  Semaine 2024 35
38           NaN          NaN          NaN       NaN  Semaine 2024 35
39      0.930016     0.032659     0.012442  0.045101  Semaine 2024 35
40      0.845931     0.010103     0.022451  0.032554  Semaine 2024 35
41      0.931777     0.013608       0.0058  0.019408  Semaine 2024 35
42      0.920407     0.017316     0.005316  0.022632  Semaine 2024 36
43      0.766323     0.041237     0.013746  0.054983  Semaine 2024 36
44      0.947853     0.011247            0  0.011247  Semaine 2024 36
45      0.958935     0.013538     0.002708  0.016245  Semaine 2024 36
46      0.966596     0.005626     0.006329  0.011955  Semaine 2024 36
47      0.864706     0.035294     0.011765  0.047059  Semaine 2024 36
48       0.92909     0.006189     0.001076  0.007266  Semaine 2024 36
49       0.94683     0.007402     0.002961  0.010363  Semaine 2024 36

In [80]:
# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Liste des colonnes à conserver
columns_to_keep = ['Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI', 'Date']

# Vérifier si toutes les colonnes nécessaires sont dans df1
common_columns = [col for col in columns_to_keep[:-1] if col in df.columns]

# Liste pour stocker les DataFrames filtrés
filtered_dfs = []

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    if idx == len(columns_by_interval) - 1:
        if 'Totaux' in columns:
            total_index = columns.index('Totaux')
            columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[0]
    
    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Ajouter les colonnes communes uniquement si elles existent dans df1
    if common_columns:
        df_interval = df_interval.join(df[common_columns])
    
    # Supprimer la dernière ligne avant le filtrage
    df_interval = df_interval[:-1]
    
    # Sélectionner uniquement les colonnes à conserver, y compris 'Date'
    if set(columns_to_keep).issubset(df_interval.columns):
        df_filtered = df_interval[columns_to_keep]
        filtered_dfs.append(df_filtered)

# Concaténer tous les DataFrames filtrés en un seul DataFrame
final_df = pd.concat(filtered_dfs, ignore_index=True)

# Afficher le DataFrame final
print("DataFrame unique après filtrage et concaténation :")
display(final_df)

DataFrame unique après filtrage et concaténation :

0   Tx conformite Tx SI avance Tx SI retard     Tx SI             Date
0        0.926288     0.015576     0.002528  0.018104  Semaine 2024 35
1             NaN          NaN          NaN       NaN  Semaine 2024 35
2        0.947664     0.015888            0  0.015888  Semaine 2024 35
3        0.980887     0.009939     0.000765  0.010703  Semaine 2024 35
4        0.952328     0.008869      0.00388  0.012749  Semaine 2024 35
..            ...          ...          ...       ...              ...
159      0.947059            0            0         0  Semaine 2024 38
160      0.897561     0.004878     0.009756  0.014634  Semaine 2024 38
161         0.875     0.029412            0  0.029412  Semaine 2024 38
162      0.981818     0.018182            0  0.018182  Semaine 2024 38
163      0.884149     0.020359     0.004363  0.024721  Semaine 2024 38

[164 rows x 5 columns]

In [81]:
final_df.head(50)

0  Tx conformite Tx SI avance Tx SI retard     Tx SI             Date
0       0.926288     0.015576     0.002528  0.018104  Semaine 2024 35
1            NaN          NaN          NaN       NaN  Semaine 2024 35
2       0.947664     0.015888            0  0.015888  Semaine 2024 35
3       0.980887     0.009939     0.000765  0.010703  Semaine 2024 35
4       0.952328     0.008869      0.00388  0.012749  Semaine 2024 35
5            NaN          NaN          NaN       NaN  Semaine 2024 35
6       0.959989     0.008165     0.001633  0.009799  Semaine 2024 35
7       0.966903     0.013855     0.004002  0.017857  Semaine 2024 35
8       0.979186     0.008326     0.000308  0.008634  Semaine 2024 35
9       0.925339     0.011312     0.004309  0.015622  Semaine 2024 35
10      0.912613     0.009079     0.012322  0.021401  Semaine 2024 35
11      0.898671     0.036545     0.016196  0.052741  Semaine 2024 35
12        0.9416     0.007964     0.003792  0.011756  Semaine 2024 35
13      0.923048     0.008299     0.026405  0.034704  Semaine 2024 35
14      0.936541     0.026499     0.006974  0.033473  Semaine 2024 35
15      0.958333     0.014583     0.010417     0.025  Semaine 2024 35
16      0.954018     0.004537     0.001769  0.006305  Semaine 2024 35
17      0.965986     0.008098     0.000648  0.008746  Semaine 2024 35
18      0.943556     0.007526     0.002822  0.010348  Semaine 2024 35
19      0.977907     0.008337            0  0.008337  Semaine 2024 35
20      0.967647     0.017647     0.005882  0.023529  Semaine 2024 35
21      0.952116     0.021521     0.007174  0.028694  Semaine 2024 35
22      0.971079     0.014461     0.001112  0.015573  Semaine 2024 35
23      0.978846     0.015385     0.000962  0.016346  Semaine 2024 35
24      0.953435     0.022392     0.003053  0.025445  Semaine 2024 35
25      0.966056     0.014866     0.000496  0.015362  Semaine 2024 35
26      0.838578     0.031886     0.005664   0.03755  Semaine 2024 35
27      0.923581     0.011421     0.008062  0.019483  Semaine 2024 35
28           NaN          NaN          NaN       NaN  Semaine 2024 35
29      0.919954     0.005568     0.016241   0.02181  Semaine 2024 35
30      0.697183     0.274648     0.003521  0.278169  Semaine 2024 35
31      0.731602     0.047619     0.073593  0.121212  Semaine 2024 35
32           NaN          NaN          NaN       NaN  Semaine 2024 35
33           NaN          NaN          NaN       NaN  Semaine 2024 35
34           NaN          NaN          NaN       NaN  Semaine 2024 35
35           NaN          NaN          NaN       NaN  Semaine 2024 35
36           NaN          NaN          NaN       NaN  Semaine 2024 35
37           NaN          NaN          NaN       NaN  Semaine 2024 35
38           NaN          NaN          NaN       NaN  Semaine 2024 35
39      0.930016     0.032659     0.012442  0.045101  Semaine 2024 35
40      0.845931     0.010103     0.022451  0.032554  Semaine 2024 35
41      0.920407     0.017316     0.005316  0.022632  Semaine 2024 36
42      0.766323     0.041237     0.013746  0.054983  Semaine 2024 36
43      0.947853     0.011247            0  0.011247  Semaine 2024 36
44      0.958935     0.013538     0.002708  0.016245  Semaine 2024 36
45      0.966596     0.005626     0.006329  0.011955  Semaine 2024 36
46      0.864706     0.035294     0.011765  0.047059  Semaine 2024 36
47       0.92909     0.006189     0.001076  0.007266  Semaine 2024 36
48       0.94683     0.007402     0.002961  0.010363  Semaine 2024 36
49      0.957199     0.006283     0.002618  0.008901  Semaine 2024 36

In [84]:
# Ajouter la colonne 'Ligne' à chaque intervalle dans columns_by_interval
for interval in columns_by_interval:
    columns_by_interval[interval] = ['Ligne'] + columns_by_interval[interval]

# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Liste des colonnes à conserver
columns_to_keep = ['Ligne','Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI', 'Date']

# Vérifier si toutes les colonnes nécessaires sont dans df1
common_columns = [col for col in columns_to_keep[:-1] if col in df.columns]

# Liste pour stocker les DataFrames filtrés
filtered_dfs = []

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    if idx == len(columns_by_interval) - 1:
        if 'Totaux' in columns:
            total_index = columns.index('Totaux')
            columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[1]  # Prendre le nom de la deuxième colonne (car la première est 'Ligne')
    
    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Ajouter les colonnes communes uniquement si elles existent dans df1
    if common_columns:
        df_interval = df_interval.join(df[common_columns])
    
    # Supprimer la dernière ligne avant le filtrage
    df_interval = df_interval[:-1]
    
    # Sélectionner uniquement les colonnes à conserver, y compris 'Date'
    if set(columns_to_keep).issubset(df_interval.columns):
        df_filtered = df_interval[columns_to_keep]
        filtered_dfs.append(df_filtered)

# Concaténer tous les DataFrames filtrés en un seul DataFrame
final_df = pd.concat(filtered_dfs, ignore_index=True)

# Afficher le DataFrame final
print("DataFrame unique après filtrage et concaténation :")
display(final_df)

KeyError: "['Ligne'] not in index"

In [90]:
filename = 'C:/Users/albert-marc.talla/Desktop/test/Taux de régularité DSP - 18092024131617.xlsx'

df = pd.read_excel(filename, header=11)

In [95]:
print(df.head(2))

     Transporteur Semaine 2024 35    Unnamed: 2    Unnamed: 3 Unnamed: 4  \
0           Ligne   Tx conformite  Tx SI avance  Tx SI retard      Tx SI
1  DSP19 - SENART        0.931777      0.013608        0.0058   0.019408

  Semaine 2024 36    Unnamed: 6    Unnamed: 7 Unnamed: 8 Semaine 2024 37  ...  \
0   Tx conformite  Tx SI avance  Tx SI retard      Tx SI   Tx conformite  ...
1        0.921553      0.013807      0.008999   0.022806        0.920352  ...

    Unnamed: 11 Unnamed: 12 Semaine 2024 38   Unnamed: 14   Unnamed: 15  \
0  Tx SI retard       Tx SI   Tx conformite  Tx SI avance  Tx SI retard
1      0.007891    0.025049        0.930056      0.016524       0.00765

  Unnamed: 16         Totaux   Unnamed: 18   Unnamed: 19 Unnamed: 20
0       Tx SI  Tx conformite  Tx SI avance  Tx SI retard       Tx SI
1    0.024174       0.924892      0.015167      0.007641    0.022808

[2 rows x 21 columns]

In [91]:
# Fonction pour récupérer les paires start_week et end_week, incluant la dernière semaine si non suivie
def get_week_intervals(df):
    week_columns = [col for col in df.columns if 'Semaine' in col]
    intervals = []
    for i in range(len(week_columns) - 1):
        start_week = week_columns[i]
        end_week = week_columns[i + 1]
        intervals.append((start_week, end_week))
    # Ajouter la dernière semaine seule si elle n'a pas d'intervalle suivant
    if len(week_columns) > 0:
        intervals.append((week_columns[-1], None))
    return intervals

# Fonction pour récupérer les colonnes entre deux semaines, incluant le cas où end_week est None
def get_columns_between_weeks_exclusive(df, start_week, end_week):
    selected_columns = []
    include = False
    for col in df.columns:
        if start_week in col:
            include = True
        if include:
            # Si end_week est None, inclure toutes les colonnes restantes
            if end_week is None:
                selected_columns.append(col)
            # Sinon, arrêter l'inclusion avant d'atteindre end_week
            elif end_week in col:
                break
            else:
                selected_columns.append(col)
    return selected_columns

# Récupérer les paires de semaines
week_intervals = get_week_intervals(df)

# Initialiser un dictionnaire pour stocker les colonnes par intervalle
columns_by_interval = {}

# Boucle sur chaque intervalle (start_week, end_week) pour récupérer les colonnes
for start_week, end_week in week_intervals:
    # Récupérer les colonnes pour cet intervalle spécifique
    interval_columns = get_columns_between_weeks_exclusive(df, start_week, end_week)
    # Stocker le résultat dans le dictionnaire avec l'intervalle comme clé
    columns_by_interval[(start_week, end_week)] = interval_columns

# Afficher les colonnes pour chaque intervalle
for interval, columns in columns_by_interval.items():
    print(f"Intervalle {interval}: {columns}")

Intervalle ('Semaine 2024 35', 'Semaine 2024 36'): ['Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
Intervalle ('Semaine 2024 36', 'Semaine 2024 37'): ['Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8']
Intervalle ('Semaine 2024 37', 'Semaine 2024 38'): ['Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
Intervalle ('Semaine 2024 38', None): ['Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Totaux', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']

In [92]:
 df['Ligne']

KeyError: 'Ligne'

In [87]:
# Vérifiez si 'Ligne' est dans les colonnes, sinon ajoutez-la
if 'Ligne' not in df.columns:
    df['Ligne'] = range(1, len(df) + 1)  # Ajoute une colonne 'Ligne' avec des valeurs numériques
    

# Ajouter la colonne 'Ligne' à chaque intervalle dans columns_by_interval
for interval in columns_by_interval:
    columns_by_interval[interval] = ['Ligne'] + columns_by_interval[interval]

# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Liste des colonnes à conserver
columns_to_keep = ['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI', 'Date']

# Vérifier si toutes les colonnes nécessaires sont dans df
common_columns = [col for col in columns_to_keep[:-1] if col in df.columns]

# Liste pour stocker les DataFrames filtrés
filtered_dfs = []

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    if idx == len(columns_by_interval) - 1:
        if 'Totaux' in columns:
            total_index = columns.index('Totaux')
            columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[1]  # Prendre le nom de la deuxième colonne (car la première est 'Ligne')
    
    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Ajouter les colonnes communes uniquement si elles existent dans df
    if common_columns:
        df_interval = df_interval.join(df[common_columns])
    
    # Supprimer la dernière ligne avant le filtrage
    df_interval = df_interval[:-1]
    
    # Sélectionner uniquement les colonnes à conserver, y compris 'Date'
    if set(columns_to_keep).issubset(df_interval.columns):
        df_filtered = df_interval[columns_to_keep]
        filtered_dfs.append(df_filtered)

# Concaténer tous les DataFrames filtrés en un seul DataFrame
final_df = pd.concat(filtered_dfs, ignore_index=True)

# Afficher le DataFrame final
print("DataFrame unique après filtrage et concaténation :")
display(final_df)

DataFrame unique après filtrage et concaténation :

     Ligne Tx conformite Tx SI avance Tx SI retard     Tx SI             Date
0        1      0.926288     0.015576     0.002528  0.018104  Semaine 2024 35
1        2           NaN          NaN          NaN       NaN  Semaine 2024 35
2        3      0.947664     0.015888            0  0.015888  Semaine 2024 35
3        4      0.980887     0.009939     0.000765  0.010703  Semaine 2024 35
4        5      0.952328     0.008869      0.00388  0.012749  Semaine 2024 35
..     ...           ...          ...          ...       ...              ...
159     37      0.947059            0            0         0  Semaine 2024 38
160     38      0.897561     0.004878     0.009756  0.014634  Semaine 2024 38
161     39         0.875     0.029412            0  0.029412  Semaine 2024 38
162     40      0.981818     0.018182            0  0.018182  Semaine 2024 38
163     41      0.884149     0.020359     0.004363  0.024721  Semaine 2024 38

[164 rows x 6 columns]

In [96]:
# Ajouter la colonne 'Ligne' à chaque intervalle dans columns_by_interval
for interval in columns_by_interval:
    columns_by_interval[interval] = ['Ligne'] + columns_by_interval[interval]

# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Liste des colonnes à conserver
columns_to_keep = ['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI', 'Date']

# Vérifier si toutes les colonnes nécessaires sont dans df
common_columns = [col for col in columns_to_keep[:-1] if col in df.columns]

# Liste pour stocker les DataFrames filtrés
filtered_dfs = []

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    if idx == len(columns_by_interval) - 1:
        if 'Totaux' in columns:
            total_index = columns.index('Totaux')
            columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[1]  # Prendre le nom de la deuxième colonne (car la première est 'Ligne')
    
    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Ajouter les colonnes communes uniquement si elles existent dans df
    if common_columns:
        df_interval = df_interval.join(df[common_columns])
    
    # Supprimer la dernière ligne avant le filtrage
    df_interval = df_interval[:-1]
    
    # Sélectionner uniquement les colonnes à conserver, y compris 'Date'
    if set(columns_to_keep).issubset(df_interval.columns):
        df_filtered = df_interval[columns_to_keep]
        filtered_dfs.append(df_filtered)

# Concaténer tous les DataFrames filtrés en un seul DataFrame
final_df = pd.concat(filtered_dfs, ignore_index=True)

# Afficher le DataFrame final
print("DataFrame unique après filtrage et concaténation :")
display(final_df)

KeyError: "['Ligne'] not in index"

In [97]:
# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Liste des colonnes à conserver
columns_to_keep = ['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI', 'Date']

# Vérifier si toutes les colonnes nécessaires sont dans df
common_columns = [col for col in columns_to_keep[:-1] if col in df.columns]

# Liste pour stocker les DataFrames filtrés
filtered_dfs = []

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    if idx == len(columns_by_interval) - 1:
        if 'Totaux' in columns:
            total_index = columns.index('Totaux')
            columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[1]  # Prendre le nom de la deuxième colonne (car la première est 'Ligne')
    
    # Utiliser la première ligne comme en-tête des colonnes
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Ajouter la colonne 'Date' au DataFrame avec la valeur de la date récupérée
    df_interval['Date'] = date_S1
    
    # Ajouter les colonnes communes uniquement si elles existent dans df
    if common_columns:
        df_interval = df_interval.join(df[common_columns])
    
    # Supprimer la dernière ligne avant le filtrage
    df_interval = df_interval[:-1]
    
    # Sélectionner uniquement les colonnes à conserver, y compris 'Date'
    if set(columns_to_keep).issubset(df_interval.columns):
        df_filtered = df_interval[columns_to_keep]
        filtered_dfs.append(df_filtered)

# Concaténer tous les DataFrames filtrés en un seul DataFrame
final_df = pd.concat(filtered_dfs, ignore_index=True)

# Afficher le DataFrame final
print("DataFrame unique après filtrage et concaténation :")
display(final_df)

KeyError: "['Ligne'] not in index"

In [106]:
# Supposons que columns_by_interval ait été créé comme dans l'exemple précédent
columns_by_interval = {
    ('Semaine 2024 35', 'Semaine 2024 36'): ['Ligne', 'Semaine 2024 35', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],
    ('Semaine 2024 36', 'Semaine 2024 37'): ['Ligne', 'Semaine 2024 36', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
    ('Semaine 2024 37', 'Semaine 2024 38'): ['Ligne', 'Semaine 2024 37', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
    ('Semaine 2024 38', None): ['Ligne', 'Semaine 2024 38', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Totaux', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']
}

# Dictionnaire pour stocker les DataFrames par intervalle
dataframes_by_interval = {}

# Liste des colonnes à conserver
columns_to_keep = ['Ligne', 'Tx conformite', 'Tx SI avance', 'Tx SI retard', 'Tx SI', 'Date']

# Vérifier si toutes les colonnes nécessaires sont dans df
common_columns = [col for col in columns_to_keep[:-1] if col in df.columns]

# Liste pour stocker les DataFrames filtrés
filtered_dfs = []

# Boucle sur chaque intervalle dans columns_by_interval
for idx, (interval, columns) in enumerate(columns_by_interval.items()):
    # Si c'est le dernier intervalle, exclure les colonnes à partir de 'Totaux'
    if idx == len(columns_by_interval) - 1:
        if 'Totaux' in columns:
            total_index = columns.index('Totaux')
            columns = columns[:total_index]
    
    # Créer un DataFrame pour chaque intervalle
    df_interval = df[columns].copy()
    
    # Récupérer le nom de la colonne de date
    date_S1 = df_interval.columns.to_list()[1]  # Prendre le nom de la deuxième colonne (car la première est 'Ligne')
    
    # Ajouter la colonne 'Date' au DataFrame
    df_interval['Date'] = date_S1
    
    # Renommer les colonnes avec la première ligne
    df_interval.columns = df_interval.iloc[0]
    
    # Supprimer les deux premières lignes et réinitialiser l'index
    df_interval = df_interval[2:].reset_index(drop=True)
    
    # Renommer la colonne 'Semaine XXXX XX' en 'Date'
    df_interval.rename(columns={date_S1: 'Date'}, inplace=True)
    
    # Sélectionner uniquement les colonnes à conserver, y compris 'Date'
    if set(columns_to_keep).issubset(df_interval.columns):
        df_filtered = df_interval[columns_to_keep]
        filtered_dfs.append(df_filtered)

# Concaténer tous les DataFrames filtrés en un seul DataFrame
final_df = pd.concat(filtered_dfs, ignore_index=True)

# Afficher le DataFrame final
print("DataFrame unique après filtrage et concaténation :")
display(final_df)

KeyError: "['Ligne'] not in index"